html{
  float: left;
  padding: 30px;
  text-align: center;
  letter-spacing: 10px;
}

h1{
  background-color: green;
  color: yellow;
}
article{
  background-color: blue;
  margin: 65px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
